<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fuentes generales -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<!-- Estilos generales-->
<link rel="stylesheet" href="../Public/CSS/styles.css">
<!-- Estilos especificos-->
 <link rel="crudCSS" href="../Public/CSS/crud.css">

    <title>calculadora</title>
</head>
<body>
    
    <aside>
        <header>
            <nav>
                <button  id="seguroVida" type="button" href="">Vida Plus</button>
                <button  id="evo2" type="button" href="">Vida 80</button>
                <button  id="cerrarSesion" type="button" href="">Exit</button>
            </nav>
        </header>
    </aside>
        
    <main>
        <div>
            <nav>
                <!-- barra de navegacion de critian -->
            </nav>
            <h1>LIFE_C&S</h1>
            <section id="contenido" class="cards">

            </section>
        </div>    
        </main>


    <script src="../JS/crud/Crud.js"></script>
</body>
</html>