<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing_page</title>
    <!-- Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Boostrap iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">
        <!-- Fuentes generales -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Estilos generales-->
    <link rel="stylesheet" href="../Public/CSS/styles.css">
    <!-- Estilos especificos-->
    <link rel="stylesheet" href="../Public/CSS/landing.css">
</head>

<body>

    <!-- Barra de navegación-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid d-flex flex-row">
            <div class="d-xs-block d-sm-block d-md-block d-lg-none">
                <a class="navbar-brand col-lg-3 me-0 d-flex flex-row justify-content-lg-around justify-content-md-center justify-content-sm-center justify-content-xs-center"
                    href="#inicio">
                    <img src="../IMG/Landing/Logo_color.png" alt="Logo" class="dimensiones">
                    Life_C&S
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-evenly justify-content-md-evenly"
                id="navbarsExample11">

                <div class="d-none d-lg-block">
                    <a class="navbar-brand col-lg-3 me-0 d-flex flex-row justify-content-around" href="#inicio">
                        <img src="../IMG/Landing/Logo_color.png" alt="Logo" class="dimensiones">
                        Life_C&S
                    </a>
                </div>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row justify-content-around" aria-current="page"
                            href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row justify-content-around" href="#aboutUs">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row justify-content-around" href="#calculadora">Calculadora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row justify-content-around" href="#testimonios">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-row justify-content-around" href="#contactanos">Contáctanos</a>
                    </li>
                    <li class="nav-item dropdown d-flex flex-row justify-content-around">
                        <a class="nav-link dropdown-toggle" href="#blog" data-bs-toggle="dropdown"
                            aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#noticias">Noticias</a></li>
                            <li><a class="dropdown-item" href="#guias">Consejos y guías</a></li>
                            <li><a class="dropdown-item" href="#promociones">Promociones</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-lg-flex col-lg-3 justify-content-lg-end d-flex flex-row justify-content-around">
                    <button class="btn btn-info">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </nav>

    <!--Inicio-->
    <section id="inicio" class="d-flex flex-column-reverse flex-lg-row" class="seccion">
        <div class="containerInicio1">
            <h1>¡Obtén tu seguro de vida con nosotros!</h1>
            <br>
            <p>Asegura la tranquilidad que mereces y adquiere la mejor cobertura de seguro de vida para ti y tu familia</p>
            <br>
            <button type="button" class="btn btn-info">¡Calcular ahora!</button>
        </div>
        <div class="containerInicio2" >
            <div class="imgLanding1"></div>
        </div>
    </section>

   <!--Sobre nosotros-->
   <section id="aboutUs" class="seccion">
        <div class="containerOferta">
             <p> Miles de adultos confían en nosotros</p>
        </div>
        <hr>
        <div class="containerInfo">
            <div class="imagenInfo">
                <div class="imgLandingInfo1"></div>
            </div>      
            <div class="textoInfo1">
                <p class="text-muted">Calcula tu cobertura de seguro de vida</p>
                <h1>¡Simple y fácil de usar!</h1>
                <br>
                <p>Nos especializamos en ofrecer soluciones de seguro de vida simples y fáciles de usar para todos.</p>
                <br>
                <button type="button" class="btn btn-info">Aprender más</button>
            </div>
        </div>
        <div class="containerInfo">     
            <div class="textoInfo2">
                <p class="text-muted">Lo que nos caracteriza</p>
                <h1>¡La simplicidad es la clave!</h1>
                <br>
                <p>Nuestro enfoque minimalista en seguros de vida nos permite ofrecer servicios de alta calidad sin complejidad ni pasos innecesarios. Nos enfocamos en lo que es importante y nuestros clientes aprecian la eficiencia y efectividad de nuestros servicios</p>
                <br>
                <button type="button" class="btn btn-info">Aprender más</button>
            </div>
            <div class="imagenInfo">
                <div class="imgLandingInfo2"></div>
            </div> 
        </div>
        <div class="containerInfo">
            <div class="imagenInfo">
                <div class="imgLandingInfo3"></div>
            </div>      
            <div class="textoInfo3">
                <p class="text-muted">Coberturas de seguro de vida asequibles</p>
                <h1>Cobertura de seguros de vida para...</h1>
                <br>
                <p>Tanto si eres joven o mayor, soltero o casado, tenemos soluciones de seguros de vida que pueden ayudarte a proteger lo que más importa para ti.</p>
                <br>
                <button type="button" class="btn btn-info">Aprender más</button>
            </div>
        </div>
        
   </section>

    <!--Calculadora-->
    <section id="calculadora" class="seccion">
        
    </section>

    <!--Testimonios-->
    <section id="testimonios" class="seccion">

    </section>

    <!--Blog-->
        <!--Noticias-->
         <!--Consejos y guias-->
         <!--Promociones-->
    <section id="blog" class="seccion">
        <section id="noticias"></section>
        <section id="guias"></section>
        <section id="promociones"></section>
    </section>
    <!--Contactanos-->
    <section id="contactanos" class="seccion">
    </section>

    <!--Pie de pagina-->
    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../JS/Landing/landing.js"></script>
</body>

</html>